.pokecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .2em;
    position: relative;
    border: 1px solid rgba(21, 25, 147, 0.25);
    border-radius: .75em;
    width: 9em;
    height: 9em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
    background-color: rgba(180, 180, 180, 0.25);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
}

.pokecard:hover {
    border: 2px solid rgba(21, 25, 147);
    border-radius: .75em;
    margin: .15em;
    box-shadow: inset -4px -4px 8px rgba(0, 0, 0, .2);
}

h4 {
    margin-top: -1em;
}

h5 {
    margin-top: 1em;
    margin-bottom: -1em;
}

img {
    margin-top: -2em;
    margin-bottom: -1.5em;
    scale: 1.2;
}